* {
    box-sizing: border-box;
    margin: 0;
    padding:(0);
}


header {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    font-family: Helvetica, Arial, Helvetica, sans-serif ;
    color: whitesmoke;
    padding: 25px 15px;
}

nav a {
    color: gold;
}


/*
    display: flex;
    background-color: black;
    position: fixed;
    padding: 25px, 60px;
    top: 0;
    justify-content: space-around;